---
interface Props {
  title: string;
  description: string;
  image: string;
  icon: string;
  imageDimensions: {
    width: number;
    height: number;
  };
}

const { title, description, image, icon, imageDimensions } = Astro.props;
---

<section>
  <div class="flex justify-center items-center">
    <img 
    src={image} 
    alt={title} 
    style={{
      width: `${imageDimensions.width}px`,
      height: `${imageDimensions.height}px`,
    }}
    />
  </div>
  <div class="text-black bg-cyan-200 rounded-lg my-5 flex items-center mt-5 border border-cyan-500">
    <div>
      <img 
        src={icon} 
        alt={`${title} icon`} 
        class="w-16"
      />
    </div>
    <h3 class="text-[16px] font-bold m-0 ml-2">
      {title}
    </h3>
  </div>
  <p class="text-black mb-4 text-pretty text-sm">
    {description}
  </p>
</section>
