---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import FloatingWhatsapp from "../components/whatsapp/FloatingWhatsapp.astro";
import { siteInfo } from "../consts/site.info";

interface Props {
  title?: string;
  image?: string;
  description?: string;
  url?: string;
}

const { 
  title = siteInfo.title, 
  description = siteInfo.description, 
  image = siteInfo.image,
  url = siteInfo.url 
} = Astro.props;
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    
  


    <!-- OG tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://www.automotiveconsulting.cl/images/ogg-image.jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Automotive Consulting">

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://www.automotiveconsulting.cl/images/ogg-image.jpeg" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.svg">

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <FloatingWhatsapp />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Glegoo";
    src: url("/fonts/Glegoo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Glegoo";
    src: url("/fonts/Glegoo-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  h1,
  h2,
  h3 {
    font-family: "Glegoo", sans-serif;
    font-weight: bold;
  }
</style>
